<div class="row align-items-center justify-content-between mb-3">
  <h1 class="col-4">New Tool</h1>
  <%= link_to 'Back', tools_path, class: "col-1 btn btn-outline-light" %>
</div>

<%= render "form", tool: @tool %>