@import "tailwindcss";

body {
  @apply bg-black;
}

.header {
  @apply mt-0 m-2 p-2 w-full sm:w-[600px] mx-auto bg-sky-900 rounded-b-lg flex flex-col justify-center;
}

.middle-container {
  @apply w-full sm:w-[600px] mx-auto grow relative;
}

.sidebar-container {
  @apply w-[80px] hidden md:flex absolute -left-24;
}

.sidebar {
  @apply p-4 bg-sky-900 rounded-lg h-fit flex-col;
}

.main-container {
  @apply flex flex-col;
}

.main {
  @apply p-6 bg-sky-900 rounded-lg flex flex-col;
}

.footer {
  @apply mb-0 m-2 p-2 w-full sm:w-[600px] mx-auto bg-sky-900 rounded-t-lg flex flex-row justify-around;
}

.flash-container {
  height: 40px;
  @apply mx-auto;
}

.notice {
  color:rgb(90, 140, 90);
  @apply p-1 bg-sky-950 rounded-md;
}

.alert {
  color:rgb(233, 101, 101);
  @apply m-1 p-1 bg-sky-950 rounded-md;
}

h1, h2, h3, h4, p, li, a, label, em, div  {
  color: rgb(255, 250, 240);
}

h1 {
  font-size: var(--text-5xl);
  @apply mx-auto;
}

h2 {
  font-size: var(--text-3xl);
  @apply mx-4 mb-4;
}

button, a, .input-button {
  color: rgb(197, 192, 184);
  @apply hover:underline mb-1 cursor-pointer;
}

.card-container {
  @apply flex flex-wrap place-content-between;
}

.tool-card {
  @apply rounded-md bg-sky-800 flex flex-col items-center md:w-1/4 m-2 p-2;
}

.tool-thumbnail {
  @apply border rounded-md m-1;
}

.tool-full-image {
  @apply border rounded-md my-1;
}

.field input {
  color: floralwhite;
  background: none;
  /* padding: 5px; */
  border: none;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid floralwhite;
  @apply py-1 px-2 mb-2;
}

.field input:focus {
  color: floralwhite;
  outline: none;
  background-color: rgb(38, 46, 118);
  border-radius: 8px 8px 0 0;
  box-shadow: none;
  border-bottom: 2px solid floralwhite;
}

.registration-error-messages-container {
  @apply flex flex-col items-center mb-2 text-center;
}

.map {
  @apply rounded-md;
}