@import "tailwindcss";

body {
  background-color: rgb(51, 62, 157);
}

h1, h2, h3, h4, p, li, a, label, em, div  {
  color: rgb(255, 250, 240);
}

h1 {
  font-size: var(--text-5xl);
}

.flash-container {
  height: 40px;
}

a {
  color: rgb(197, 192, 184);
  @apply hover:underline ;
}

.field input {
  color: floralwhite;
  background: none;
  /* padding: 5px; */
  border: none;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid floralwhite;
}

.field input:focus {
  color: floralwhite;
  outline: none;
  background-color: rgb(38, 46, 118);
  border-radius: 8px 8px 0 0;
  box-shadow: none;
  border-bottom: 2px solid floralwhite;
}

.container {
  width: 720px;
}