<h1>Communitools Home Page</h1>
<p>The goal of this app is to provide a platform where <br>neighbours can see which tools their fellow neighbours <br>own and offer their own tools.</p>
<p>The library has <%= User.all.size %> users and <%= Tool.all.size %> tools!</p>