/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */


body {
  background-color: rgb(255, 113, 62);
}

h1, h2, h3, h4, p, a, li, label, em, div  {
  color: floralwhite;
}

.field > div > input {
  color: floralwhite;
  background: none;
  /* padding: 5px; */
  border: none;
  border-radius: 8px 8px 0 0;
  border-bottom: 2px solid floralwhite;
}

.field > div > input:focus {
  color: floralwhite;
  outline: none;
  background-color: rgb(172, 67, 29);
  border-radius: 8px 8px 0 0;
  box-shadow: none;
  border-bottom: 2px solid floralwhite;
}

.container {
  width: 720px;
}